#========================================
# 共通無視フォルダ
#========================================
[Dd]ebug/
[Rr]elease/
packages/
Library/
.vs/

#========================================
# 共通無視拡張子
#========================================
*.tlog
*.obj
*.pdb
*.ilk
*.idb
*.log
*.ipch
*.opendb
*.db
*.suo
*.inc

#========================================
# 個別設定
#========================================
imgui.ini

#========================================
#Asset（シェーダー以外除外）
#========================================
#Asset以下は基本的に無視
BaseProject/Asset/*
BaseProject/Imported/*

#管理対象指定
#Shader（コード扱い）
!BaseProject/Asset/Shader/
!BaseProject/Asset/Shader/**
#セーブデータ（あまりにも大きすぎたら消すかも）
!BaseProject/Asset/Data/
!BaseProject/Asset/Data/**

#Assetフォルダ自体は残す（空でも削除されないように）
!BaseProject/Asset/.gitkeep

